---
# tasks file for apache2

- name: Include OS specific configuration values
  ansible.builtin.include_vars: "{{ config_file }}"
  with_first_found:
    - files:
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_version }}.yml"
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version }}.yml"
        - "{{ ansible_distribution | lower }}.yml"
        - "{{ ansible_os_family | lower }}.yml"
        - "{{ ansible_system | lower }}.yml"
      paths:
        - "{{ role_path }}/vars"
  loop_control:
    loop_var: config_file
  tags:
    - always

- name: Install required packages
  ansible.builtin.package:
    name: "{{ apache2_packages_default | union(apache2_packages) }}"

- name: Add required modules to list (HTTP to HTTPS redirect)
  ansible.builtin.set_fact:
    apache2_modules: "{{ apache2_modules | union(['rewrite']) }}"
  when: apache2_https_redirect

- name: Add required modules to list (SSL support)
  ansible.builtin.set_fact:
    apache2_modules: "{{ apache2_modules | union(['ssl', 'socache_shmcb']) }}"
  when: apache2_create_default_ssl

- name: Run distribution specific tasks
  ansible.builtin.include_tasks: "{{ lookup('first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_distribution | lower }}.yml"
        - "{{ ansible_os_family | lower }}.yml"
        - other.yml
      paths:
        - tasks

- name: Configure listen ports
  ansible.builtin.template:
    src: ports.conf.j2
    dest: "{{ apache2_config_path }}/ports.conf"
    mode: "0644"
  notify: restart apache2

- name: Add ansible configuration
  ansible.builtin.template:
    src: ansible.conf.j2
    dest: "{{ apache2_config_enabled_path }}/99_ansible.conf"
    mode: "0644"
  notify: restart apache2

- name: Create default HTTP site
  ansible.builtin.template:
    src: default.conf.j2
    dest: "{{ apache2_default_host_path }}"
    mode: "0644"
  when: apache2_create_default

- name: Create default HTTPS site
  ansible.builtin.template:
    src: default-ssl.conf.j2
    dest: "{{ apache2_default_ssl_host_path }}"
    mode: "0644"
  when: apache2_create_default_ssl

- name: Create document root
  ansible.builtin.file:
    path: "{{ apache2_base_path }}"
    state: directory
    owner: "{{ apache2_user }}"
    group: "{{ apache2_group }}"
    mode: "0755"
  when: apache2_create_default or apache2_create_default_ssl

- name: Enable default HTTP site
  ansible.builtin.file:
    src: "{{ apache2_default_host_path }}"
    dest: "{{ apache2_sites_enabled_path }}/000-default.conf"
    state: link
  when: apache2_create_default

- name: Enable default HTTPS site
  ansible.builtin.file:
    src: "{{ apache2_default_ssl_host_path }}"
    dest: "{{ apache2_sites_enabled_path }}/000-default_ssl.conf"
    state: link
  when: apache2_create_default_ssl

- name: Enable Apache2 service
  ansible.builtin.service:
    name: "{{ apache2_service }}"
    enabled: true
