---
- name: Include OS specific configuration values
  ansible.builtin.include_vars: "{{ config_file }}"
  with_first_found:
    - files:
        - "{{ ansible_facts['distribution'] | lower }}-{{ ansible_facts['distribution_version'] }}.yml"
        - "{{ ansible_facts['distribution'] | lower }}-{{ ansible_facts['distribution_major_version'] }}.yml"
        - "{{ ansible_facts['distribution'] | lower }}.yml"
        - "{{ ansible_facts['os_family'] | lower }}.yml"
        - "{{ ansible_facts['system'] | lower }}.yml"
      paths:
        - "{{ role_path }}/vars"
  loop_control:
    loop_var: config_file
  tags:
    - always
